*{
    /*border: solid 1px red;*/
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}

/*--------------Start Hero Section----------------*/

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.hero h1{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero h2{
    font-size: 24px;
    color: #f9faf8;
}

.hero-main{
    display: flex;
    justify-content:space-around;
    padding: 60px;
    gap: 20px;
}
.hero-main p{
    font-size: 18px;
    color: #e5e7eb;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav ul{
    display: flex;
    gap: 20px;
}
.nav li{
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
}
.hero-main-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    gap: 10px;

}

.bluebutton{
    color: #f9faf8;
    background-color:#3882f6;
    padding: 5px 20px;
    border-radius: 5px;  
    align-self: flex-start;
    border:none;  
    display: block;
    width: 60px;
}


.hero-main-right{
    display: flex;
    background-color: dimgray;
    flex:1;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

img{
    text-align: center;
}



/*----------------End Hero Section----------------*/

/*-------------Start Information Section----------*/
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    max-width: 80vw;
    min-height: 30vw;
    gap: 20px;
}

.info-images{
    display: flex;
    align-items: center;
    gap: 60px;
}

.info-images div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info-images img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius:16px;
    border: solid 3px #3882f6;
}

.info-images p{
    text-align: center;
    width: 150px;
}
/*--------------End Information Section ----------*/

/*-------Start of Quote Section-----*/
.quote{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#e5e7eb;
    min-height: 25vh;
    padding: 100px 100px;
    gap: 20px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-attr{
    font-size: 24px;
    font-weight:1000;
    align-self: flex-end;
}
/*-------End of Quote Section------*/

/*-------Start of CTA Section-------*/
.cta{
    background-color:#3882f6;
    color:#f9faf8;
    width: 80vw;
    height: 20vh;
    margin: 10vh;
    display: flex;
    border-radius:5px;
    align-items: center;
    justify-content: space-around;
}

.cta .declaration{
    font-size: 1.2em;
}

.bot-button{
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px 30px;
}
/*---------End of CTA Section-------*/
/*---------Start of Footer----------*/
footer{
    background-color:#1f2937;
    color: #f9faf8;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: inherit;
    text-decoration: none;
}
/*------------End of Footer---------*/